html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

#help {
    display:none;

    font-family: sans-serif;

    background-color: rgba(192, 192, 192, 128);
    opacity: 75%;
    position: fixed;
    width: 250px;
    top: 0%;
    left: calc(50% - 100px);

    padding: 5px;
    padding-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    -webkit-user-select: none;
}

#photo {
    display: block;
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    height: auto;

    margin: 0 auto;
}
