html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

#help {
    display:none;
    background-color: #cccccc;
}

#photo {
    display: block;
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    height: auto;

    margin: 0 auto;
}
